
  .img{
    background:radial-gradient(rgba(2, 60, 77, 0.6), rgba(87,0,210,0.6)),
    url(https://media.istockphoto.com/photos/basketball-ball-on-black-background-picture-id1202801765?b=1&k=6&m=1202801765&s=170667a&w=0&h=8o7IrvdpuNSiGMLXotHo5ZBNElYpxPmbHkPr2XRn1uI=);
    
    height:2100px;
    background-size:100%;

    background-position:center;
    background-repeat:no-repeat;
      
  }
  
  #navbar {
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
  }

  #navbar ul {
    display: flex;
    align-content: center;
    justify-content: center;
  }
    
 #navbar ul li {
    list-style: none;
  }

  #navbar ul li a {
    text-transform: uppercase;
    font-weight: bold;
    color: red;
    font-size: 0.865em;
    text-decoration: none;
    padding: 1.01em;
    white-space: nowrap;
    letter-spacing: 1.001px;
  }
   
  #navbar ul li a:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.822);
  }

 
  .intro {
    padding: 99px 0;
  }
  
  .cont {
    width: 85%;
    max-width: 1150px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 5.1rem;
    color: blue;
  }
  

  .timeline ul {
    list-style-type:none;
    padding: 49.5px 0;
  }
   
  .timeline ul li
  {
    position: relative;
    width: 5.5px;
    margin: 0 auto;
    padding-top: 40;
    background: aquamarine;
  }

  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 380px;
    padding: 14px;
    background: aquamarine;
  }

  
  
  
  
  
    
  .timeline ul li:nth-child(odd) div {
    left: 40px;
    transform: translate3d(175px, 0, 0);
  }
   
  .timeline ul li:nth-child(even) div {
    left: -430px;
    transform: translate3d(-175px, 0, 0);
  }
  

  .timeline ul li div
  {
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
  }
  
  .timeline ul li.in-view div
  {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  
  
  time
  {
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 7px;
  }
  